<td><%= f.select :ingredient_id, Ingredient.pick_list, {include_blank: true, prompt: 'Select an ingredient'} %></td>
<td><%= f.label :quantity %></td>
<td>
  <%= f.number_field :quantity, step: :any, min: 0 %>
  <%= f.label :unit_id %>
  <%= f.select :unit_id, Unit.pick_list, include_blank: true %>
</td>
