  <%= form_for recipe_review, url: url do |f| %>
    <div class='row'>
      <div class="col-md-2"><%= f.label :stars %></div>
      <div class="col-md-2"><%= f.label :title %></div>
      <div class="col-md-3"><%= f.label :comments %></div>
    </div>
    <div class='row'>
      <div class="col-md-2"><%= f.number_field :stars, min: 1, max: 5 %></div>
      <div class="col-md-2"><%= f.text_field :title %></div>
      <div class="col-md-3"><%= f.text_area :comments, size:'60x3' %></div>
    </div>
    <div class='row'><%= f.submit %></div>
  <% end %>
