<div class='row'>
  <div class="col-sm-4">
    <p><%= render partial: "recipes/review_stars", locals: {stars: review.stars, url: nil} %></p>
  </div>
</div>
<div class='row'>
  <div class="col-sm-4">
    <p class="review-title"><em><u><%= review.title %></u></em></p>
  </div>
</div>
<div class='row'>
  <div class="col-sm-4">
    <%= review.comments %>
  </div>
</div>
<p></p>
<div class='row'>
  <div class="col-sm-4">
    <p>by <%= review.author_name %> / <%= review.created_at %></p>
  </div>
</div>
