<div class='row'>
  <div class="col-md-3">
    <em><u><%= review.title %></u></em>
  </div>
  <div class="col-md-2">
    <%= render partial: "recipes/review_stars", locals: {stars: review.stars} %>
  </div>
  <div class="col-md-7">
    <%= link_to image_tag("edit-icon.png",   size:"16", title: "Edit review"),   edit_recipe_recipe_review_path(review.recipe.id, review.id) if policy(review).update? %>
    <%= link_to(image_tag("delete-icon.png", size:"16", title: "Delete review"), recipe_recipe_review_path(review.recipe.id, review.id), method: :delete, data: {confirm: "Delete this review?"}) if policy(review).destroy? %>
  </div>
</div>

<div class='row'>
  <div class="col-md-4">
    <%= review.comments %>
  </div>
</div>

<br>
<div class='row'>
  <div class="col-md-4">
    <p>by <%= review.author_name %> / <%= review.created_at %></p>
  </div>
</div>
