<h1>
  <% if @user_reviews %>
    Reviews by <%= @user_email %>
  <% else %>
    Recipe Reviews
  <% end %>
  <%= link_to image_tag("add-icon.png", size:"16", title: "Add review"), new_user_recipe_review_path(current_user) if user_signed_in? %>
</h1>

<% last_recipe_name = '' %>
<% @recipe_reviews.each do |recipe_review| %>
  <% if recipe_review.recipe.name != last_recipe_name %>
    <h3><%= link_to recipe_review.recipe.name, recipe_review.recipe %></h3>
    <% last_recipe_name = recipe_review.recipe.name %>
  <% end %>
  ========== <%= recipe_review.created_at %>
  by <%= link_to recipe_review.user.email, user_recipe_reviews_path(recipe_review.user.id) %><br>
  <%= pluralize(recipe_review.stars, 'star') %>
  <p class="review-title"><em><u><%= recipe_review.title %></u></em></p>
  <%= recipe_review.comments %>
  <br><br>
<% end %>
