<%= form_for recipe do |f| %>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <td><%= f.label :total_time %></td>
      <td><%= f.number_field :total_time %> minutes</td>
    </tr>
  </table>

  <br>
  Ingredients:
  <%= link_to image_tag("add-icon.png", size:"16", title: "Add step"), new_recipe_recipe_step_path(recipe) if policy(recipe).update? %>
  <%= link_to image_tag("resequence-icon.png", size:"16", title: "Renumber steps"), renumber_steps_recipe_path(recipe) if policy(recipe).update? %>

  <table>
    <%= f.fields_for :recipe_ingredients do |ff| %>
      <tr><%= render partial: "recipe_ingredients/form_ingredient", locals: {f: ff} %></tr>
    <% end %>
  </table>

  <br>
  Steps:
  <table>
    <%= f.fields_for :recipe_steps do |ff| %>
      <tr><%= render partial: "recipe_steps/form_step", locals: {f: ff} %></tr>
    <% end %>
  </table>

  <p><%= f.submit %></p>
<% end %>
