<div class="col-sm-12">
  <%= form_for recipe do |f| %>
    <div class="row">
      <div class="col-sm-1">
        <%= f.label :name %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <%= f.label :description %>
      </div>
      <div class="col-sm-4">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <%= f.label :total_time %>
      </div>
      <div class="col-sm-4">
        <%= f.number_field :total_time %> minutes
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3>
          Ingredients:
          <%= link_to(image_tag("add-icon.png", size:"16", title: "Add ingredient"), '#', class:'js-addIngredient') if policy(recipe).update? %>
        </h3>
        <table id='ingredientTable'>
          <tbody>
            <%= f.fields_for :recipe_ingredients do |ff| %>
              <tr id='recipe-ingredient-id-<%=ff.object.id%>'>
                <%= render partial: "recipe_ingredients/form_ingredient", locals: {f: ff} %>
                <td><%= link_to(image_tag('delete-icon.png', size:'16', title: 'Delete ingredient'), '#', class:'js-deleteIngredient', data: {'recipe-ingredient-id':ff.object.id}) if policy(recipe).update? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
      <h3>
        Steps:
        <%= link_to(image_tag("add-icon.png", size:"16", title: "Add step"), '#', class:'js-addStep') if policy(recipe).update? %>
        <%= link_to(image_tag("resequence-icon.png", size:"16", title: "Renumber steps"), '#', class:'js-renumberStepS') if policy(recipe).update? %>
<!-- link_to image_tag("resequence-icon.png", size:"16", title: "Renumber steps"), renumber_steps_recipe_path(recipe) if policy(recipe).update? -->
      </h3>
      <table>
        <%= f.fields_for :recipe_steps do |ff| %>
          <tr><%= render partial: "recipe_steps/form_step", locals: {f: ff} %></tr>
        <% end %>
      </table>

    <p><%= f.submit %></p>
  <% end %>
</div>

<script type='text/javascript' charset='utf-8'>
$(function () {
  $('.js-addIngredient').on('click', function(e) {
    var ingredientTable = $('#ingredientTable');
    var newRow   = $('#ingredientTable tr:eq(0)').clone();
    var newRowId = $('#ingredientTable tr').length;

    // These are the attributes that need to be edited when cloning a table row.
    // The index values need updating to a new, unique, value -
    //   "recipe[recipe_ingredients_attributes][0][ingredient_id]"
    //   "recipe_recipe_ingredients_attributes_0_ingredient_id"
    // and existing values need to be cleared out -
    //   data-recipe-ingredient-id="16"
    //   selected="selected"
    //   value='4'
    var newRowHTML = '';
    newRowHTML = newRow.html().replace(/recipe_ingredients_attributes\]\[[\d]+\]/g, `recipe_ingredients_attributes][${newRowId}]`);
    newRowHTML = newRowHTML.replace(/recipe_recipe_ingredients_attributes_[\d]+/g,  `recipe_recipe_ingredients_attributes_${newRowId}`);
    newRowHTML = newRowHTML.replace(/ data-recipe-ingredient-id="[\d]+"/g, 'data-recipe-ingredient-id=""');
    newRowHTML = newRowHTML.replace(/selected="selected" /g, '');
    newRowHTML = newRowHTML.replace(/ value="[\w]*[.]?[\w]+" /g, ' value=""');

    $('#ingredientTable tbody').prepend(newRowHTML);
    e.preventDefault();
  });

  //  Delete a recipe ingredient from the recipe.
  $('.js-deleteIngredient').on('click', function(e) {
    if (confirm('Are you sure?') == true) {
      // Hide the row.
      $(this).parent().parent().hide().hide();
      // Mark the row for deletion by backend.
      var recipe_ingredient_id = parseInt($(this).data('recipeIngredientId'));
      if (!isNaN(recipe_ingredient_id)) {
        var deleted_recipe_ingredient_id = recipe_ingredient_id < 0 ? recipe_ingredient_id : -recipe_ingredient_id;
        $("tr#recipe-ingredient-id-" + recipe_ingredient_id + " + input:hidden").attr('value', deleted_recipe_ingredient_id);
      }
    }
    e.preventDefault();
  });
});
</script>
