<%= form_for recipe do |f| %>
  <table hidden id='cloneTable'>
    <tbody>
      <%= f.fields_for :recipe_ingredients do |ff| %>
        <% if ff.options[:child_index] == 0 %>
          <tr id='ingredientClone'>
            <%= render partial: 'recipe_ingredients/form_ingredient', locals: {f: ff} %>
            <td><%= link_to(image_tag('delete-icon.png', size:'16', title: 'Delete ingredient'), '#', class:'js-deleteIngredient') if policy(ff.object).destroy? %></td>
            <!-- <% if ff.object.persisted? %> -->
              <td hidden><%= ff.check_box :_destroy, class:'js-destroyRecord' %></td>
            <!-- <% end %> -->
          </tr>
        <% end %>
      <% end %>
      <%= f.fields_for :recipe_steps do |ff| %>
        <% if ff.options[:child_index] == 0 %>
          <tr id='stepClone'>
            <%= render partial: 'recipe_steps/form_step', locals: {f: ff} %>
            <td><%= link_to(image_tag('add-icon.png',    size:'16', title: 'Add step here'), '#', class:'js-insertStep') if policy(ff.object).create? %></td>
            <td><%= link_to(image_tag('delete-icon.png', size:'16', title: 'Delete step'),   '#', class:'js-deleteStep') if policy(ff.object).destroy? %></td>
            <!-- <% if ff.object.persisted? %> -->
              <td hidden><%= ff.check_box :_destroy, class:'js-destroyRecord' %></td>
            <!-- <% end %> -->
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-1">
      <%= f.label :name %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <%= f.label :description %>
    </div>
    <div class="col-sm-4">
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <%= f.label :total_time %>
    </div>
    <div class="col-sm-4">
      <%= f.number_field :total_time %> minutes
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <h3>
        Ingredients:
        <%= link_to(image_tag('add-icon.png', size:'16', title: 'Add ingredient'), '#', class:'js-addIngredient') if policy(recipe).update? %>
      </h3>
    </div>
  </div>
  <table id='ingredientTable'>
    <tbody>
      <%= f.fields_for :recipe_ingredients do |ff| %>
        <tr id='recipe-ingredient-id-<%=ff.object.id%>'>
          <%= render partial: 'recipe_ingredients/form_ingredient', locals: {f: ff} %>
          <td><%= link_to(image_tag('delete-icon.png', size:'16', title: 'Delete ingredient'), '#', class:'js-deleteIngredient') if policy(ff.object).destroy? %></td>
          <!-- <% if ff.object.persisted? %> -->
            <td hidden><%= ff.check_box :_destroy, class:'js-destroyRecord' %></td>
          <!-- <% end %> -->
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class='row'>
    <div class='col-sm-12'>
      <h3>
        Steps:
        <td><%= link_to(image_tag('add-icon.png', size:'16', title: 'Add step'), '#', class:'js-appendStep') if policy(recipe).update? %></td>
      </h3>
    </div>
  </div>
  <table id='stepTable'>
    <tbody>
      <%= f.fields_for :recipe_steps do |ff| %>
        <tr id='recipe-step-id-<%=ff.object.id%>'>
          <%= render partial: 'recipe_steps/form_step', locals: {f: ff} %>
          <td><%= link_to(image_tag('add-icon.png', size:'16',  title: 'Add step here'), '#', class:'js-insertStep') if policy(ff.object).create? %></td>
          <td><%= link_to(image_tag('delete-icon.png', size:'16', title: 'Delete step'), '#', class:'js-deleteStep') if policy(ff.object).destroy? %></td>
          <!-- <% if ff.object.persisted? %> -->
            <td hidden><%= ff.check_box :_destroy, class:'js-destroyRecord' %></td>
          <!-- <% end %> -->
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <p><%= f.submit %></p>
<% end %>

<script type='application/javascript' charset='utf-8'>
$(function () {
  $('.js-addIngredient').on('click', function(e) {
    addIngredient(e);
  });

  $('.js-appendStep').on('click', function(e) {
    var clickedRow = $('#stepTable tbody tr:last');
    addStep(e, clickedRow);
  });

  $('.js-deleteIngredient').on('click', function(e) {
    deleteRow(e, false /* renumberSteps */);
  });

  $('.js-deleteStep').on('click', function(e) {
    deleteRow(e, true /* renumberSteps */);
  });

  $('.js-insertStep').on('click', function(e) {
    var clickedRow = $(e.target).parent().parent().parent();
    addStep(e, clickedRow);
  });
});
</script>
