<div class="col-sm-12">
  <%= form_for recipe do |f| %>
    <div class="row">
      <div class="col-sm-1">
        <%= f.label :name %>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <%= f.label :description %>
      </div>
      <div class="col-sm-4">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
        <%= f.label :total_time %>
      </div>
      <div class="col-sm-4">
        <%= f.number_field :total_time %> minutes
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12'>
        <h3>
          Ingredients:
          <%= link_to(image_tag('add-icon.png', size:'16', title: 'Add ingredient'), '#', class:'js-addIngredient') if policy(recipe).update? %>
        </h3>
        <table id='ingredientTable'>
          <tbody>
            <%= f.fields_for :recipe_ingredients do |ff| %>
              <tr id='recipe-ingredient-id-<%=ff.object.id%>'>
                <%= render partial: 'recipe_ingredients/form_ingredient', locals: {f: ff} %>
                <td><%= link_to(image_tag('delete-icon.png', size:'16', title: 'Delete ingredient'), '#', class:'js-deleteIngredient', data: {'recipe-ingredient-id':ff.object.id}) if policy(recipe).update? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>
          Steps:
          <%= link_to(image_tag('add-icon.png', size:'16', title: 'Add step'), '#', class:'js-addStep') if policy(recipe).update? %>
          <%= link_to(image_tag('resequence-icon.png', size:'16', title: 'Renumber steps'), '#', class:'js-renumberSteps') if policy(recipe).update? %>
  <!-- link_to image_tag('resequence-icon.png', size:'16', title: 'Renumber steps'), renumber_steps_recipe_path(recipe) if policy(recipe).update? -->
        </h3>
        <table id='stepTable'>
          <tbody>
            <%= f.fields_for :recipe_steps do |ff| %>
              <tr id='recipe-step-id-<%=ff.object.id%>'>
                <%= render partial: 'recipe_steps/form_step', locals: {f: ff} %>
                <td><%= link_to(image_tag('delete-icon.png', size:'16', title: 'Delete step'), '#', class:'js-deleteStep', data: {'recipe-step-id':ff.object.id}) if policy(recipe).update? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <p><%= f.submit %></p>
  <% end %>
</div>

<script type='text/javascript' charset='utf-8'>
$(function () {
  $('.js-addIngredient').on('click', function(e) {
    addIngredient(e);
  });

  $('.js-deleteIngredient').on('click', function(e) {
    deleteIngredient(e);
  });

  $('.js-addStep').on('click', function(e) {
    addStep(e);
  });

  $('.js-deleteStep').on('click', function(e) {
    deleteStep(e);
  });
});
</script>
