<%= render partial: "recipes/recipe_options" if user_signed_in? %>

<% recipes.each do |recipe| %>
  <div class="row">
    <div class="col-sm-1">
      <%= link_to recipe.name, recipe %>
    </div>
    <div class="col-sm-2">
      <a href="/recipes/<%=recipe.id%>" data-recipe-id="<%=recipe.id%>"><img src="/assets/<%=recipe.photo_path%>" height="100" width="190" title="<%=recipe.name%> photo"></a>
    </div>
    <div class="col-sm-1">
      <%= link_to pluralize(recipe.number_of_reviews, 'review'), recipe_recipe_reviews_path(recipe) %><br>
      <%= render partial: "recipes/review_stars", locals: {stars: recipe.average_stars, url: recipe_recipe_reviews_path(recipe)} %>
    </div>
    <div class="col-sm-8">
      <%= render partial: "recipes/favorite", locals: {recipe: recipe} %>
    </div>
  </div>
<% end %>
