<% if @user_recipes %>
  <h1>Recipes by <%= @user.email %></h1>
<% elsif @user_favorites %>
    <h1>Favorites of <%= @user.email %></h1>
<% else %>
  <h1>All Recipes</h1>
<% end %>


<table>
  <tr>
    <td><p><%= link_to 'Add A Recipe', new_recipe_path %></p></td>
    <td><p><%= link_to 'Filter Recipes', new_recipe_path %></p></td>
  </tr>
<% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe.name, recipe %></td>
    <td><%= image_tag(recipe.photo_path, size: "190x100", alt: "#{recipe.name} photo" ) %></td>
    <td><%= pluralize(recipe.number_of_reviews, 'review') %></td>
    <td><%= pluralize(recipe.average_stars, 'star') %></td>
    <td><%= render partial: "recipes/favorite", locals: {recipe: recipe} %></td>
  </tr>
<% end %>
</table>
