<% if @user_recipes %>
  <h1>Recipes by <%= @user.email %></h1>
<% elsif @user_favorites %>
    <h1>Favorites of <%= @user.email %></h1>
<% else %>
  <h1>Recipes</h1>
<% end %>

<table>
  <% if user_signed_in? %>
    <tr>
      <td><p><%= link_to 'Add A Recipe', new_recipe_path %></p></td>
      <td width="70%">
        <%= form_for RecipeIngredient.new, url: recipe_ingredients_filter_path do |f| %>
          Filter By<br>
          <%= f.label :ingredient %>
          <%= f.select :ingredient, Ingredient.all.collect { |i| [ i.name, i.id ] }, include_blank: true, selected: session[:ingredient_filter].to_i %>
          <%= f.submit 'Filter' %>
        <%end%>
        <br>
      </td>
    </tr>
  <% end %>
</table>
<table>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.name, recipe %></td>
      <td><%= image_tag(recipe.photo_path, size: "190x100", alt: "#{recipe.name} photo" ) %></td>
      <td>
        <% if policy(recipe).destroy? %>
          <%= form_for recipe, url: recipe_path(recipe), method: :delete do |f| %>
            <%= f.submit 'delete', data: { confirm: 'Are you sure?' } %>
          <%end%>
        <% end %>
      </td>
      <td><%= pluralize(recipe.number_of_reviews, 'review') %></td>
      <td><%= pluralize(recipe.average_stars, 'star') %></td>
      <td><%= render partial: "recipes/favorite", locals: {recipe: recipe} %></td>
    </tr>
  <% end %>
</table>
