<h1><%= @recipe.name %></h1>
Submitted by <%= link_to @recipe.user.email, user_recipes_path(@recipe.user) %>
<div>
  <table>
    <tr>
      <td><%= image_tag(@recipe.photo_path, size: "360x200", alt: "#{@recipe.name} photo" ) %></td>
      <td><%= render partial: "recipes/favorite", locals: {recipe: @recipe} %></td>
    </tr>
  </table>
</div>

<%= link_to 'Reviews', recipe_user_recipe_reviews_path(@recipe) %>
<% if @recipe.user == current_user %>
  | <%= link_to 'Edit', edit_recipe_path(@recipe) %>
<% end %>
<br><br>
<table width="50%">
  <tr>
    <td><%= @recipe.description %></td>
  </tr>
</table>

<br>Total time: <%= pluralize(number_with_precision(@recipe.total_time, precision: 0), 'minute') %>

<table width="50%">
  <tr>
    <td>
      <h3>
        Ingredients  <%= link_to 'add',  new_recipe_recipe_ingredient_path(@recipe) if policy(@recipe).update? %>
                     <%= link_to 'edit', recipe_recipe_ingredients_path(@recipe) if policy(@recipe).update? %>
      </h3>
    </td>
    <td>
      <h3>
        Steps  <%= link_to 'add',  new_recipe_recipe_step_path(@recipe) if policy(@recipe).update? %>
               <%= link_to 'edit', recipe_recipe_steps_path(@recipe) if policy(@recipe).update? %>
      </h3>
    </td>
  <tr valign="top">
    <td width="50%"><%= render partial: "recipe_ingredients/ingredients", locals: {recipe_ingredients: @recipe.recipe_ingredients} %></td>
    <td width="50%"><%= render partial: "recipe_steps/steps",             locals: {steps: @recipe.recipe_steps} %></td>
  </tr>
</table>
