<h1>
  <%= @recipe.name %> <%= link_to image_tag('edit-icon.png', size:'16', title: 'Edit recipe'), edit_recipe_path(@recipe) if @recipe.author == current_user %>
  <%= link_to image_tag('delete-icon.png', size:'16', title: 'Delete recipe'), recipe_path(@recipe), method: :delete, data: {confirm: 'Are you sure!'} if policy(@recipe).destroy? %>
</h1>
<p>Submitted by <%= link_to @recipe.author_name, user_recipes_path(@recipe.author) %></p>
<p>
  <%= image_tag(@recipe.photo_path, size: '360x200', alt: '#{@recipe.name} photo', title: 'recipe photo' ) %>
  <%= render partial: 'recipes/favorite', locals: {recipe: @recipe} %>
</p>
<p style='width:40%' align='justify'><%= @recipe.description %></p>
<p>Total time: <%= pluralize(number_with_precision(@recipe.total_time, precision: 0), 'minute') %></p>
<p>
  <%= render partial: 'recipes/review_stars', locals: {stars: @recipe.average_stars, url: recipe_recipe_reviews_path(@recipe)} %>
  <%= '  ' %>
  <%= link_to 'Reviews', recipe_recipe_reviews_path(@recipe) %>
  (<%= @recipe.recipe_reviews.length %>)
</p>
<p>
  <a href='#' class='js-ingredients' data-recipe-id='<%=@recipe.id%>' data-show-detail='1'>Ingredients</a>
  (<%= @recipe.recipe_ingredients.length %>)
</p>
<p id='ingredients'></p>
<p>
  <a class='steps' data-id='<%=@recipe.id%>' href='https://www.w3schools.com'>Steps</a>
  (<%= @recipe.recipe_steps.length %>)
</p>

<script type='text/javascript' charset='utf-8'>
$(function () {
  $('.js-ingredients').on('click', function(e) {
    var show = $(this).attr('show-detail');
    if (show == 0) {
      $('#ingredients').html('');
      // $(this).data('show-detail') = 1;
      $(this).attr('show-detail', 1);
    } else {
      var recipe_id = parseInt($(this).data('recipe-id'));
      $.get(`/recipes/${recipe_id}/recipe_ingredients.json`, function(data) {
        var ingredients = {};
        var units = {};
        data.included.forEach(function(relation) {
          if (relation.type == 'ingredients') {
            ingredients[relation['id']] = relation.attributes['name'];
          } else if (relation.type == 'units') {
            units[relation['id']] = relation.attributes['name'];
          }
        });
        var recipe_ingredients = '<table>';
        data.data.forEach(function(recipe_ingredient) {
          recipe_ingredients += '<tr>' +
                                  '<td>' + ingredients[recipe_ingredient.relationships.ingredient.data['id']] + '</td>' +
                                  '<td>' + recipe_ingredient.attributes['quantity'] + '</td>' +
                                  '<td>' + units[recipe_ingredient.attributes['unit-id']]  + '</td>' +
                                '</tr>';
        });
        recipe_ingredients += '</table>';
        $('#ingredients').html(recipe_ingredients);
      });
      $(this).attr('show-detail', 0);
    }
    e.preventDefault();
  });
});
</script>
