<div class="col-sm-12">
  <div class='row'>
    <div class="col-sm-4">
      <h2>Recent Edits</h2>
    </div>
  </div>
  <%= form_tag("/recent_edits", method: 'post') do %>
    <%= label_tag('entity', "Show") %>
    <p><%= select_tag('entity', options_for_select(@entities)) %></p>
    <%= label_tag('date', "created or updated after:") %>
    <p><%= select_date(date = Date.current) %></p>
    <%= submit_tag('Show') %>
  <% end %>
</div>
