<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Cat</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p>
        <%= link_to 'Recipe Cat', root_path %>  |
        <%= link_to 'Recipes', recipes_path %>  |
        <% if user_signed_in? %>
          <%= link_to 'My Recipes',   user_recipes_path(current_user) %>  |
          <%= link_to 'My Favorites', user_user_recipe_favorites_path(current_user) %>  |
          <%= link_to 'My Reviews',   user_recipe_reviews_path(current_user) %>  |
          <%= link_to 'Ingredients',  ingredients_path %>  |
          <% if current_user.admin? %>
            <%= link_to 'Recent Edits', recent_edits_path %>  |
          <% end %>
        <% end %>
        <%= link_to 'About', about_path %>
        <% if user_signed_in? %>
          | <%= link_to 'Account', edit_user_registration_path %>
          | <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% else %>
          | <%= link_to 'Log in', new_user_session_path %>
        <% end %>
      </p>
    </header>

    <% if flash[:alert] %>
      <div class='alert'><%= flash[:alert] %></dev>
    <% end %>

    <p class='notice'><%= notice %></p>
    <!-- the following tag seemed to not clear out flash message soon enough. -->
    <!-- <p class='alert' ><%= alert  %></p> -->

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
