<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Cat</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p><%= link_to "Home", root_path %>  |
         <%= link_to "Recipes", recipes_path %>  |
         <%= link_to "Ingredients", user_user_ingredients_path(current_user) if current_user %>  |  
         <%= link_to "About", '#' %>
       </p>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer>
      <p><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
    </footer>
  </body>
</html>
